
    
    <form method="get" action="/quizes/answer">
	<p>Buscar preguntas con el texto</p>
	<input type="text" name="busca" value="Responde aquí" />
	<input type="submit" value="Comprobar">

    </form>	

