<div style="margin:auto">
	<h3>Resultados de la búsqueda "<%= termino %>"</h3><br/>
	<table>
 <% var i; for (i=0; i < quizes.length; i++) { %>
 <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
 <% } %>
 </table>
</div>
